body {
    margin: 70px auto;
    width: 80%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #FFFFFF;
    background: #990000;
    padding: 0 0.2em;
}
a:hover {
    /*text-decoration: underline;*/
    background: #000000;
}
h1 {
    font-family: 'Sancreek', cursive;
    font-size: 3em;
    font-weight: normal;
    color: #990000;
}
h2 {
    padding-top: 5em;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.4em;
    color: #990000;
}
p {
    font-size: 1em;
    line-height: 2em;
    font-weight: 100;
    color: #999;
}
